<!DOCTYPE html>
<html>
<head>
	<title>Product Management Admin</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
	
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
  .file-field span {
    display: block;
    left: 0;
    text-align: left;
    font-size: 18px;
    padding: 0px 2px;
    margin: 10px 0;
}
form .btn.grey {
    display: block;
    width: 100%;
    border: 1px solid #e0e0e0;
    margin: 10px 0;
}
form input[type="text"],textarea,form input[type="number"]{
    width: 100%;
}
form input[type="text"],form input[type="number"]{
    height: 30px;
	border: 1px solid #ccc;
}
form button[type="submit"] {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 16px;
}  </style>
</head>
<body>
	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
              <li role="presentation"><a href="/">Add New Product</a></li>
              <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
              <li role="presentation"><a href="/users/login">Login</a></li>
              <li role="presentation"><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
        </nav>
        <h3 class="text-muted">Product Management Admin</h3>
      </div>


      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}
        </div>

        
      </div>

      <footer class="footer">
        <p style="text-align:center;line-height:50px;font-weight:700">© Jaydeep Chabhadiya 2018</p>
      </footer>

    </div> <!-- /container -->
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  
</body>
</html>
